<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
      <link rel="stylesheet" type="text/css" href="/css/index.css">
      <title>Hello World</title>
      <link href="https://fonts.googleapis.com/css?family=Bangers|Black+Han+Sans|Cardo|Faster+One|Fredericka+the+Great|Gloria+Hallelujah|Homemade+Apple|IM+Fell+DW+Pica|Lato|Major+Mono+Display|Merriweather|Monoton|Montserrat|Mr+Dafoe|Noto+Sans|Noto+Sans+HK|Noto+Sans+KR|Open+Sans|Oswald|Oxygen|Permanent+Marker|Playfair+Display|Press+Start+2P|Ranga|Reenie+Beanie|Roboto|Source+Sans+Pro|Staatliches|Unica+One&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="app">
            <h1>Welcome to Keystone</h1>
            <div class="button">
              <button class="login" type="button" name="login" onclick="location.href = '/login'">Login</button><br>
              <button class="signup" type="button" name="signup" onclick="location.href = '/signup'">Signup</button>
            </div>
        </div>
        <script type="text/javascript" src="javascripts/index.js"></script>
    </body>
</html>