<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Bangers|Black+Han+Sans|Cardo|Faster+One|Fredericka+the+Great|Gloria+Hallelujah|Homemade+Apple|IM+Fell+DW+Pica|Lato|Major+Mono+Display|Merriweather|Monoton|Montserrat|Mr+Dafoe|Noto+Sans|Noto+Sans+HK|Noto+Sans+KR|Open+Sans|Oswald|Oxygen|Permanent+Marker|Playfair+Display|Press+Start+2P|Ranga|Reenie+Beanie|Roboto|Source+Sans+Pro|Staatliches|Unica+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="app">
      <h1>Login</h1>
      <button type="button" name="back" onclick="location.href = '/'">Back</button>
      <form class="loginform" action="/login" method="post">
        <input type="text" name="username" placeholder="Username"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <input type="submit" name="submit" value="Login">
      </form>
    </div>
    <script src="javascripts/login.js" charset="utf-8"></script>
    <script type="text/javascript">
    <% var fail; %>
    if (<%= fail %>) {
        alert("Login failed. Try again")
    }
    </script>
  </body>
</html>
