<!DOCTYPE html>
<html lang="en" dir="ltr">
<body>
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/css/search.css">
  <link href="https://fonts.googleapis.com/css?family=Staatliches|Source+Sans+Pro|Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>
<div class="image"></div>
<div class="form">
  <button type="button" name="button" onclick="location.href = '/logout'">Logout</button>

  <h1>Choose to Filter</h1>
  <p>Click on the button to choose your subjects</p>

  <form action="/results" method="post">
      <select name="subjects">
          <option value="math">Math</option>
          <option value="science">Science</option>
          <option value="english">English</option>
          <option value="comp-sci">Comp-sci</option>
      </select>
      <table>
        <tr>
            <th></th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
        </tr>
        <tr class="lunch">
          <td>Lunch</td>
          <td><input type="checkbox" name="lunch[]" value="0"></td>
          <td><input type="checkbox" name="lunch[]" value="1"></td>
          <td><input type="checkbox" name="lunch[]" value="2"></td>
          <td><input type="checkbox" name="lunch[]" value="3"></td>
          <td><input type="checkbox" name="lunch[]" value="4"></td>
        </tr>
      </table><br><br>
      <table class="school">
        <tr>
          <td>After school</td>
          <td><input type="checkbox" name="afterSchool[]" value="0" class="box"></td>
          <td><input type="checkbox" name="afterSchool[]" value="1" class="box"></td>
          <td><input type="checkbox" name="afterSchool[]" value="2" class="box"></td>
          <td><input type="checkbox" name="afterSchool[]" value="3" class="box"></td>
          <td><input type="checkbox" name="afterSchool[]" value="4" class="box"></td>
        </tr>
      </table>
      <input class="search" type="submit" name="" value="Search">
  </form>
</div>
</body>
</html>
